<tr data-id="{$exp.id}" {$status|default:''}>
    <td>{$exp.title}</td>
    <!--<td><button name="show" value="{$exp.id}" class="glyphicon glyphicon-eye-open btn btn-info btn-xs" formaction="index.php"></button></td>-->
    <td><a name="show" value="{$exp.id}" class="glyphicon glyphicon-eye-open show btn btn-info btn-xs"></a></td>
    <td>{$exp.seller_name}</td>
    <td>{$exp.price}</td>
    <td>{$exp.time}</td>
    <td><a name="delete" value="{$exp.id}" class="glyphicon glyphicon-remove delete btn btn-danger btn-xs"></a></td>
</tr>